html{
    background-image: url('http://static.lakana.com/media.fox26houston.com/photo/2015/12/28/You%20decide%20logo%20straight_1451322101303_667343_ver1.0.png');
    background-size: cover;
    height: 100%;
}
