body {
  text-align: center;
  background-image: url("bikini_bottom.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 70px;
  width: 60%;
  margin-left: 20%;
}

img {
  max-width: 400px;
  max-height: 400px;
}

img:hover {
  transform: scale(1.1);
}

h1 {
  font-size: 300%;
  font-family: "Lucida Console";
}

h2, h3 {
  font-size: 250%;
  font-family: "Lucida Console";
}

h2 {
  color: white;
}

h1, h3 {
  color: yellow;
}
